/* CONTACT STYLES */
.contact {
	margin-bottom: 80px;
	img {
		margin-bottom: 80px;
	}
}

.contact-info {
	float: left;
	width: 25%;
	margin-top: 18px;
	padding: 39px 30px;
	background-color: $lightGrey;
	font-size: 1.2rem;
}

.contact-form {
	float:left;
	width: 75%;
	
	h3 {
		margin-left: 10px;
		font-size: 1.5rem;
		letter-spacing: 3px;
	}

	input {
		border: none;
		border-bottom: 1px solid $lightGrey;
		margin: 15px 10px;
	}

	input[name="website"] {
		margin: 15px 0 15px 20px;
	}

	input[name="name"],
	input[name="email"],
	input[name="website"] {
		display: block;
		width: calc(33.3% - 20px);
		float: left;
	}

	input[type="submit"] {
		max-width: 150px;
		padding: 8px;
		margin-top: 20px;
		text-transform: uppercase;
		font-family: $bodyFont;
		font-size: 1.4rem;
		border: 2px solid $black;
	}
}
