/* FOOTER STYLES */
.footer-nav {
	padding: 55px 0;
}

.footer-nav-links {
	float: left;
	width: 25%;
	text-align: left;
	a {
		padding: 10px 0;
		text-transform: capitalize;
	}
}

h3 {
	text-transform: uppercase;
	font-size: 1.7rem;
}

.follow-delphinus {
	clear: both;
	background-color: $lightGrey;
	padding: 30px 0;
}

.social-links {
	width: 33.3%;
	margin-top: 10px;
	display: inline-block;
	margin: 10px auto 0;
}

.social-links li {
	float: left;
}

.social-links a {
	padding: 10px;
}

.social-links-contact,
.social-links-products {
	display: block;
	width: 100%;
	text-align: center;
	li {
		float: none;
		display: inline-block;
	}
}

.social-links-contact {
	padding: 20px 0;
	li {
		display: inline-block;
	}
	a {
		padding: 20px 20px 20px 0;
	}
}

.main-copyright {
	padding: 20px 0;
	font-size: 1.4rem;
	text-align: center;
}


/* form/newsletter styles */

.newsletters {
	width: 66.6%;
	float: right;
}

.user-email {
	float: right;
	width: 70%;
	position: relative;
}

.fa-long-arrow-right {
	position: absolute;
	right: 10px;
	top: 25%;
	color: $grey;
}

input {
	width: 100%;
	background-color: transparent;
	border: 1px solid $grey;
	padding: 10px;
}

::-webkit-input-placeholder {
   font-family: $bodyFont;
   font-size: 1.3rem;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: $bodyFont;
   font-size: 1.3rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: $bodyFont;
   font-size: 1.3rem;
}

:-ms-input-placeholder {  
   font-family: $bodyFont;
   font-size: 1.3rem;
}

label {
	margin-top: 8px;
	font-family: $headingFont;
	font-weight: bolder;
	text-transform: uppercase;
}

label[for="email"] {
	float: left;
}



