/* GENERAL LAYOUT */
.wrapper {
	width: 65%;
	max-width: 900px;
	margin: 0 auto;
	// border: 1px solid red;
}

.hide {
	display: none;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

img {
	max-width: 100%;
}

ul,
li {
	padding: 0;
	margin: 0;
}

/* GENERAL TYPOGRAPHY */
html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $headingFont;
}

h1,
h2 {
	text-transform: uppercase;
}

h1 {
	letter-spacing: 8px;
	font-size: 2.9rem;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s ease-in-out;
	&:hover {
		color: $black;
		font-weight: bolder;
	}
}

a,
p {
	color: $grey;
	font-family: $bodyFont;
	font-weight: 400;
}

/* OTHER GENERAL STYLES */
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* REPEATING BANNER: CONTACT AND PRODUCTS PAGE */
.banner {
	background-color: $lightGrey;
	h2 {
		font-size: 1.8rem;
	}
}
