header {
	padding: 250px 0;
	background-image: url(../images/mainLP-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	p {
		color: #46454A;
		font-size: 1.3rem;
		letter-spacing: 1px;
		line-height: 2.3;
		width: 350px;
		margin: 20px auto 0;
	}
}
