/* HEADER STYLES */
.main-slider {
	margin-bottom: 25px;
}

.slide {
	width: 100%;
	padding: 220px 0;
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	p {
		color: #46454A;
		font-size: 1.3rem;
		letter-spacing: 1px;
		line-height: 2.3;
		width: 350px;
		margin: 20px auto 0;
	}
}

.slide1{
	background-image: url(../images/mainLP-hero.jpg);
}

.slide2{
	background-image: url(../images/tablewhite.jpeg);
}

.slide3 {
	background-image: url(../images/livingroom.jpg);
	h1 {
		color: whitesmoke;
	}
	a {
		background-color: fade-out(#3A667F, 0.4);
		color: whitesmoke;
		padding: 10px;
		transition: background-color 0.3s;
		&:hover {
			background-color: fade-out(#3A667F, 0.2);
			font-weight: 400;
		}
	}
}
