/* GENERAL NAVIGATION STYLES */
nav {
	a {
		display: block;
		padding: 10px 25px;
		font-size: 1.2rem;
	}
} 

.fa.fa-bars {
	display: none;
	padding: 10px;
	float: right;
	font-size: 1.7rem;
	cursor: pointer;
}

.fa.fa-times {
	display: none;
	padding: 10px;
	font-size: 1.8rem;
	cursor: pointer;
}

/* TOP NAV: USER ACTION NAVIGATION */

.user-action {
	border: 1px solid $lightGrey;
}

.user-account-action {
	li {
		float: left;
	}
}
.user-settings {
	float: left;
	li {
		border-right: 1px solid $lightGrey;
	}
}

.user-purchase {
	float: right;
	li {
		border-left: 1px solid $lightGrey;
	}
}

/* MAIN NAV: MAIN NAVIGATION */
.main-nav {
	border-bottom: 1px solid $lightGrey;
	padding: 20px 0;
	img {
		float: left;
		width: 15%;
		margin-top: 10px;
	}

	a {
		padding: 10px 20px;
	}

	li:nth-of-type(5) a {
		padding-right: 0;
	}
}
.main-nav-links {
	float: right;
	li {
		float: left;
	}
}

/* RETURN NAV ON CONTACT AND PRODUCTS PAGE */
.banner {
	margin-bottom: 40px;
}
.banner h2 {
	float: right;
	padding: 45px
}
.return {
	float: left;
	margin-top: 60px;

	ul {
		color: $grey;
		font-size: 1rem;
	}
	li {
		display: inline-block;
	}

	li:first-child a {
		margin-right: 5px;
	}

	li:last-child a {
		margin-left: 5px;
	}

	a {
		padding: 0;
		text-transform: capitalize;
	}
}

