/*COLOR VARIABLES*/
$darkGrey: #747474;
$grey: #A1A1A1;
$lightGrey: #F6F6F6;
$green: #C9DB98;
$yellow: #F2DC7E;
$blue: #ABC8ED;
$orange: #E68B56;
$mint: #C0E5D2;
$black: #333333;

/* FONT STACK */
$headingFont: 'Roboto Slab', serif;
$bodyFont: 'Lato', sans-serif;
