article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

/*COLOR VARIABLES*/
/* FONT STACK */
/* GENERAL LAYOUT */
.wrapper {
  width: 65%;
  max-width: 900px;
  margin: 0 auto; }

.hide {
  display: none; }

/* GENERAL TYPOGRAPHY */
html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif; }

h1,
h2 {
  text-transform: uppercase; }

h1 {
  letter-spacing: 8px;
  font-size: 2.9rem; }

a {
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out; }
  a:hover {
    color: #333333;
    font-weight: bolder; }

a,
p {
  color: #A1A1A1;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

/* OTHER GENERAL STYLES */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

/* GENERAL NAVIGATION STYLES */
nav a {
  display: inline-block;
  padding: 10px 25px;
  font-size: 1.1rem; }

/* TOP NAV: USER ACTION NAVIGATION */
.user-action {
  border: 1px solid #F6F6F6; }

.user-account-action li {
  float: left; }

.user-settings {
  float: left; }
  .user-settings li {
    border-right: 1px solid #F6F6F6; }

.user-purchase {
  float: right; }
  .user-purchase li {
    border-left: 1px solid #F6F6F6; }

/* MAIN NAV: MAIN NAVIGATION */
.main-nav {
  border-bottom: 1px solid #F6F6F6;
  padding: 20px 0; }
  .main-nav img {
    float: left;
    width: 15%;
    margin-top: 10px; }
  .main-nav a {
    padding: 10px 20px; }
  .main-nav li:nth-of-type(5) a {
    padding-right: 0; }

.main-nav-links {
  float: right; }
  .main-nav-links li {
    float: left; }

header {
  padding: 250px 0;
  background-image: url(../images/mainLP-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  header p {
    color: #46454A;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2.3;
    width: 350px;
    margin: 20px auto 0; }
