article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

/*COLOR VARIABLES*/
/* FONT STACK */
/* GENERAL LAYOUT */
.wrapper {
  width: 65%;
  max-width: 900px;
  margin: 0 auto; }

.hide {
  display: none; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

img {
  max-width: 100%; }

ul,
li {
  padding: 0;
  margin: 0; }

/* GENERAL TYPOGRAPHY */
html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif; }

h1,
h2 {
  text-transform: uppercase; }

h1 {
  letter-spacing: 8px;
  font-size: 2.9rem; }

a {
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out; }
  a:hover {
    color: #333333;
    font-weight: bolder; }

a,
p {
  color: #A1A1A1;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

/* OTHER GENERAL STYLES */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

/* REPEATING BANNER: CONTACT AND PRODUCTS PAGE */
.banner {
  background-color: #F6F6F6; }
  .banner h2 {
    font-size: 1.8rem; }

/* GENERAL NAVIGATION STYLES */
nav a {
  display: block;
  padding: 10px 25px;
  font-size: 1.2rem; }

/* TOP NAV: USER ACTION NAVIGATION */
.user-action {
  border: 1px solid #F6F6F6; }

.user-account-action li {
  float: left; }

.user-settings {
  float: left; }
  .user-settings li {
    border-right: 1px solid #F6F6F6; }

.user-purchase {
  float: right; }
  .user-purchase li {
    border-left: 1px solid #F6F6F6; }

/* MAIN NAV: MAIN NAVIGATION */
.main-nav {
  border-bottom: 1px solid #F6F6F6;
  padding: 20px 0; }
  .main-nav img {
    float: left;
    width: 15%;
    margin-top: 10px; }
  .main-nav a {
    padding: 10px 20px; }
  .main-nav li:nth-of-type(5) a {
    padding-right: 0; }

.main-nav-links {
  float: right; }
  .main-nav-links li {
    float: left; }

/* RETURN NAV ON CONTACT AND PRODUCTS PAGE */
.banner {
  margin-bottom: 40px; }

.banner h2 {
  float: right;
  padding: 45px; }

.return {
  float: left;
  margin-top: 60px; }
  .return ul {
    color: #A1A1A1;
    font-size: 1rem; }
  .return li {
    display: inline-block; }
  .return li:first-child a {
    margin-right: 5px; }
  .return li:last-child a {
    margin-left: 5px; }
  .return a {
    padding: 0;
    text-transform: capitalize; }

header {
  padding: 250px 0;
  background-image: url(../images/mainLP-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  header p {
    color: #46454A;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 2.3;
    width: 350px;
    margin: 20px auto 0; }

/* FEATURED COLLECTION SECTION STARTS*/
.featured-collections {
  padding-top: 10px; }

.collection {
  margin-top: 20px;
  position: relative; }

.visual-collection {
  width: 75%;
  position: relative;
  float: left; }

.visual-collection:nth-child(even) {
  float: right; }

/* collection labels stylings*/
.collection-tab {
  width: calc(25% - 20px);
  margin-left: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  float: left;
  height: 100%;
  text-align: center; }
  .collection-tab img {
    margin-top: 80%; }
  .collection-tab p {
    color: #ffffff;
    font-family: "Roboto Slab", serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase; }

.collection-tab:nth-child(odd) {
  left: 0;
  margin-left: 0;
  margin-right: 20px; }

.chair-tab {
  background-color: #C9DB98; }

.lamp-tab {
  background-color: #F2DC7E; }

.cup-tab {
  background-color: #ABC8ED; }

.clock-tab {
  background-color: #E68B56; }

.plate-tab {
  background-color: #C0E5D2; }

/* overlay stylings*/
.overlay-collection {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out; }
  .overlay-collection h4 {
    margin-top: 27%;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: capitalize; }

.visual-collection:hover .overlay-collection {
  opacity: 1;
  visibility: visible; }

.btn-view {
  font-size: 1.5rem;
  padding: 10px 20px;
  position: relative;
  color: #333333; }
  .btn-view:before, .btn-view:after {
    content: '';
    height: 2px;
    width: 20px;
    background-color: #333333;
    position: absolute;
    margin-top: 7px; }
  .btn-view:before {
    left: -10px; }
  .btn-view:after {
    right: -10px; }

/*PARTNERS AND CLIENTS SECTION STYLES*/
.partner-client {
  padding: 70px 0; }
  .partner-client img {
    width: 9%;
    margin-right: 8%; }
  .partner-client img:last-child {
    margin-right: 0; }

/* SHIPPING AND RETURN SECTION STARTS*/
.shipping-return {
  padding: 50px 0;
  background-color: #F6F6F6; }
  .shipping-return h2 {
    padding: 30px;
    float: left;
    width: calc(50% - 10px);
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #E7E7E6;
    text-align: center; }
  .shipping-return h2:first-child {
    margin-right: 10px; }
  .shipping-return h2:last-child {
    margin-left: 10px; }

/* PRODUCT PAGE STYLES */
.main-products {
  width: 75%;
  float: left; }

/*side navigation */
.shop-nav {
  width: calc(25% - 20px);
  float: left;
  margin-right: 20px; }

.shop-style-links ul {
  color: #747474;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  border-bottom: 1px solid #F6F6F6; }

.shop-style-links li {
  margin-bottom: 15px; }

.shop-style-links li:last-child {
  margin-bottom: 25px; }

input[type="range"] {
  width: 50%; }

/*filter bar*/
.filter-products {
  float: left;
  width: 40%; }

.filter-products p {
  font-size: 1.3rem; }

.filter-products p:first-child {
  float: left; }

.filter-products p:last-child {
  float: right; }

.products-view {
  width: 32%;
  float: right;
  text-align: right; }
  .products-view i {
    margin: 0 7px; }

.products-view p {
  float: left;
  font-size: 1.3rem; }

.products-view p:last-child {
  margin-left: 20px; }

/* products area */
.all-products {
  clear: both;
  padding: 20px 0;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6; }

.product {
  width: calc(50% - 20px);
  margin: 10px;
  float: left; }
  .product figcaption {
    text-align: center; }

.product-name {
  color: #333333;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  font-size: 1.5rem; }

.price {
  font-size: 1.3rem;
  margin: 5px 0; }

label[for="price-range"] {
  display: block;
  color: #747474;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem; }

.product-pages {
  margin: 50px auto;
  width: 250px; }

.product-pages li {
  float: left;
  padding: 5px 20px;
  font-family: "Lato", sans-serif;
  color: #A1A1A1;
  border: 1px solid transparent; }
  .product-pages li:hover {
    border: 1px solid #F6F6F6; }

.product-pages .active {
  border: 1px solid #F6F6F6; }

/* CONTACT STYLES */
.contact {
  margin-bottom: 80px; }
  .contact img {
    margin-bottom: 80px; }

.contact-info {
  float: left;
  width: 25%;
  margin-top: 18px;
  padding: 39px 30px;
  background-color: #F6F6F6;
  font-size: 1.2rem; }

.contact-form {
  float: left;
  width: 75%; }
  .contact-form h3 {
    margin-left: 10px;
    font-size: 1.5rem;
    letter-spacing: 3px; }
  .contact-form input {
    border: none;
    border-bottom: 1px solid #F6F6F6;
    margin: 15px 10px; }
  .contact-form input[name="website"] {
    margin: 15px 0 15px 20px; }
  .contact-form input[name="name"],
  .contact-form input[name="email"],
  .contact-form input[name="website"] {
    display: block;
    width: calc(33.3% - 20px);
    float: left; }
  .contact-form input[type="submit"] {
    max-width: 150px;
    padding: 8px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    border: 2px solid #333333; }

/* FOOTER STYLES */
.footer-nav {
  padding: 55px 0; }

.footer-nav-links {
  float: left;
  width: 25%;
  text-align: left; }
  .footer-nav-links a {
    padding: 10px 0;
    text-transform: capitalize; }

h3 {
  text-transform: uppercase;
  font-size: 1.7rem; }

.follow-delphinus {
  clear: both;
  background-color: #F6F6F6;
  padding: 30px 0; }

.social-links {
  width: 33.3%;
  margin-top: 10px;
  display: inline-block;
  margin: 10px auto 0; }

.social-links li {
  float: left; }

.social-links a {
  padding: 10px; }

.social-links-contact,
.social-links-products {
  display: block;
  width: 100%;
  text-align: center; }
  .social-links-contact li,
  .social-links-products li {
    float: none;
    display: inline-block; }

.social-links-contact {
  padding: 20px 0; }
  .social-links-contact li {
    display: inline-block; }
  .social-links-contact a {
    padding: 20px 20px 20px 0; }

.main-copyright {
  padding: 20px 0;
  font-size: 1.4rem;
  text-align: center; }

/* form/newsletter styles */
.newsletters {
  width: 66.6%;
  float: right; }

.user-email {
  float: right;
  width: 70%;
  position: relative; }

.fa-long-arrow-right {
  position: absolute;
  right: 10px;
  top: 25%;
  color: #A1A1A1; }

input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #A1A1A1;
  padding: 10px; }

::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Lato", sans-serif;
  font-size: 1.3rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Lato", sans-serif;
  font-size: 1.3rem; }

:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem; }

label {
  margin-top: 8px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  text-transform: uppercase; }

label[for="email"] {
  float: left; }
